
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	line-height: 1;
	font-family: "lato";
}
button {
	cursor: pointer;
	background-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
}

.container {
	max-width: 1140px;
	padding: 0px 15px;
	margin: 0px auto;
}
.header {
	padding: 40px 0;
}
.header__logo {
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	color: #10375c;
	margin: 0px 184px 0px 0px;
}
.header__menu {
	display: inline-block;
	font-size: 0;
	margin: 0px 81px 0px 0px;
}
.header__list {

}
.header__list > li {
	position: relative;
	display: inline-block;
	margin: 0px 35px 0px 0px;
}
.header__list > li:hover .header__sublist {
display: block;
}

.header__link {
}
.link-menu {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	color: #222831;
}
.header__sublist {
	display: none;
	border-radius: 15px;
	padding: 10px 0;
	background: rgb(186, 183, 183);
	width: 100px;
	position: absolute;
	top: 16px;
	left: 0;
}

.header__sublist > li {
	position: relative;
	padding: 5px 0;
	margin: 0px 0px 10px 10px;
}
.header__sublist > li:hover .header__subsublist {
	display: block;
	}
	.header__sublist > li:last-child {
		margin-bottom: 0;
	}

.header__sublink {
}
.header__subsublist {
	display: none;
	padding: 10px 0;
	position: absolute;
	border-radius: 15px;
	width: 100px;
	top: 0;
	left: 90px;
	background: rgb(114, 192, 140);
}
.header__subsublist > li {
	position: relative;
	display: inline-block;
	margin: 0px 40px 0px 0px;
}
.header__sublist > li:hover .header__subsublist {
	display: block;
}
.header__subsublink {
}
.header__buttons {
}
.button {
	display: inline-block;
	font-size: 0;
}
.button__item {
	display: inline-block;
	text-align: center;
	min-height: 43px;
	max-width: 103px;
	font-weight: bold;
	font-size: 16px;
	line-height: 44px;
	color: #ff5722;
	padding: 0px 24px;
}
.button__item_orange {
	background: #ff5722;
	color: #fff;
}



.main {
}
.main__content {
	margin: 0px 0px 40px 0px;
}
.content-main {
}
.content-main__introducing {
	font-weight: 500;
	font-size: 20px;
	color: #222831;
}
.content-main__introducing::after {
	content: "";
	display: inline-block;
	position: relative;
	top: -4px;
	left: 15px;
	background: #222831;
	height: 2px;
	width: 73px;
}
.content-main__title {
	display: inline-block;
	margin: 0px 55px 0px 0px;
	max-width: 667px;
	font-family: Lora;
	font-weight: bold;
	font-size: 52px;
	line-height: 67px;
	color: #10375c;
}
.content-main__text {
	
}
.content-main__span-red {
	color: red;
}
.content-main__block-paragraf {
	margin: 10px 0px 0px 0px;
	vertical-align: top;
	display: inline-block;
	max-width: 382px;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #6a6a6a;
}
.content-main__block-paragraf-p {

}



.block {
	width: 1110px;
	height: 421px;
	position: relative;
}
.block__columns {
	width: 570px;
	height: 421px;
	position: absolute;
}
.block__wrapper {
width: 499px;
height: 353px;
margin: 40px 35px 17px 35px;
}
.column {
}
.column__left {
	display: inline-block;
	margin: 0px 115px 0px 0px;
}
.column__left-block {
	margin: 0px 0px 64px 0px;
}
.column__left-image {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	margin: 2px 24px 0px 0px;
}
.column__left-title {
	display: inline-block;
	font-family: Lora;
	font-size: 32px;
	line-height: 41px;
	color: #10375c;
}
.column__left-text {
	display: block;
	font-size: 16px;
	line-height: 162%;
	color: #9a9a9a;
	margin: 0px 0px 0px 60px;
}

.column__raight {
	display: inline-block;
}
.column__raight-block {
	margin: 0px 0px 64px 0px;
	position: relative;
}
.column__raight-image {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
	margin: 2px 24px 0px 0px;
}

.column__raight-title {
	display: inline-block;
	font-family: Lora;
	font-size: 32px;
	line-height: 41px;
	color: #10375c;
}
.column__raight-text {
	display: block;
	font-size: 16px;
	line-height: 162%;
	color: #9a9a9a;
	margin: 0px 0px 0px 60px;
}


.block__information {
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	width: 540px;
	background: #10375c;
	padding: 50px;
	height: 421px;
}
.block__information-logo {
	color:  #fff;
	font-size: 20px;
	margin: 0px 0px 10px 0px;
}
.block__information-logo::after {
	content: "";
	display: inline-block;
	position: relative;
	top: -4px;
	left: 15px;
	background: #222831;
	height: 2px;
	width: 73px;
	background-color: #fff;
}
.block__information-title {
	margin: 0px 0px 20px 0px;
}
.block__information-paragraph {
	font-family: Lora;
	font-weight: bold;
	font-size: 40px;
	line-height: 51px;
	color: #fff;
	margin: 0px 0px 20px 0px;
}
.block__information-text {
	
}
.block__information-txt {
	font-weight: 500;
	font-size: 24px;
	line-height: 140%;
	color: #ffffff;
}




.partners {
	width: 1140px;
	margin: 40px 0px 30px 0px;
}
.partners__block {
	text-align: center;
	margin: 0px 0px 55px 0px;
}
.partners__title {
	font-family: Lora;
	font-weight: bold;
	font-size: 40px;
	line-height: 51px;
	color: #10375c;
	margin: 0px 0px 25px 0px;
}
.partners__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 156%;
	color: #9a9a9a;
}
.partners__label {
	height: 67px;
	align-items: center;
}
.partners__label-list {
	display: inline-block;
	margin: 0px 40px 0px 0px;
}
.partner__label-link-shopify img {
	margin: -2px 0px 0px 0px;
}
.partner__label-link-stripe img {
	margin: -10px 0px 0px 0px;
}
.partner__label-link {
}



.events {
	display: inline-block;
	width: 350px;
	height: 320px;
}
.events__image {
	display: inline-block;
	width: 100%;
}
.events__info {
	padding: 15px;
}
.events__title {
	margin: 0px 0px 5px 0px;
	font-family: Lora;
	font-size: 22px;
	line-height: 28px;
	color: #222831;
}
.events__text {
	font-size: 16px;
	line-height: 162%;
	color: #9a9a9a;
}